.start_text{
    text-align: center;
}

.sc_btn{
    text-align: center;
}

.sc_a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#screen_text{
    width: 100%;
    height: 100%;
    text-align: left;
}