.layout{
    width: 100%;
    height: 100%;
    display: flex;
}

.aside{
    width: 20vh;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.article{
    flex: 1;
    height: 100%;
    overflow-y: auto;
    margin-left: 20vh;
}

.mid_line{
    border: 3px;
    float: left;
    width: 3px;
    height: 100%;
    color: rgb(80, 80, 80);
}

.s2_alert1{
    width: 300px;
    height: auto;
}

#screen_text{
    width: 100%;
    height: 100%;
    text-align: center;
}