.cbot_title_img{
    width: 100%;
    height: 400px;
    text-align: center;
}

#title_img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.cbot_title{
    width: 100%;
    height: 400px;
    text-align: center;
}