.cbot_title_flex{
    display: flex;
    width: 500px;
    height: 500px;
    position: absolute;
}

.cbot_title{
    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
}

#titleimg{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}