/*兼容浏览器*/
* {
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    height: 100%;
}

.content-left {
    width: 19%;
    height: 600px;
    background-color: #1c232f;
    float: left;
}

.content-right {
    width: 81%;
    height: 600px;
    background-color: #6495ED;
    float: left;
}

.left-title {
    width: 100%;
    height: 50px;
}

.left-title > a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    /*去掉a下默认下划线*/
    text-decoration: none;
}

/*分割线*/
.seg {
    height: 1px;
    width: 100%;
    background-color: black;
}

.nav {
    /*上下5,左右0*/
    margin: 5px 0;
}

/*菜单项主标题*/
.nav-title {
    height: 40px;
    width: 100%;
    color: white;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

/*子标题内容区*/
.nav-content {
    width: 100%;
    height: 100%;
    background-color: #0C1119;
}

/*子标题的样式*/
.nav-content > a {
    display: block;
    width: 100%;
    height: 30px;
    color: #CCCCCC;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
}

/*子标题鼠标经过时的改变颜色*/
.nav-content > a:hover {
    color: #FFFFFF;
    background-color: #12040c;
}

/*内容区*/
.content-right{
    font-size: 50px;
    line-height: 600px;
    text-align: center;
}

.s2_alert1{
    width: 300px;
    height: auto;
}