.afdian_url{
    text-align: left;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.img_l{
    text-align: left;
    width: 50vh;
    height: auto;
}

.img_r{
    text-align: right;
    width: 50vh;
    height: auto;
}