<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cnchens.github.io/ChensBOT/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <script src="https://cnchens.github.io/ChensBOT/jquery-3.6.2/jquery-3.6.2.min.js"></script>
    <script src="https://cnchens.github.io/ChensBOT/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    <script src="https://cnchens.github.io/ChensBOT/static/js/start.js "></script>
    <link rel="stylesheet" href="https://cnchens.github.io/ChensBOT/static/css/global.css">
    <link rel="stylesheet" href="https://cnchens.github.io/ChensBOT/static/css/start.css">
    <title>ChensBOT</title>
</head>
<body data-spy="scroll" data-target="#myScrollspy">
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation" id="nav_top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="https://cnchens.github.io/ChensBOT/" class="navbar-brand">ChensBOT</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="https://cnchens.github.io/ChensBOT/templates/start.html">开始</a></li>
                    <li><a href="https://cnchens.github.io/ChensBOT/templates/module_use.html">模块详解</a></li>
                    <li><a href="https://cnchens.github.io/ChensBOT/templates/database.html">数据库</a></li>
                    <li><a href="https://cnchens.github.io/ChensBOT/templates/donate.html">赞助</a></li>
                </ul>
                <p class="navbar-text navbar-right" id="version">Website v1.0.0  BOT v1.1.1</p>
            </div>
        </div>
    </nav>
    <div class="start_title">
        <h1>开始</h1>
        <hr>
    </div>
    <section class="main">
        <aside class="main_left">
            <div class="nav_title" id="myScrollspy">
                <ul class="nav nav-tabs nav-stacked" id="myNav">
                    <li><a href="#section-1">简介</a></li>
                    <li><a href="#section-2">安装</a></li>
                    <li><a href="#section-3">JSON配置</a></li>
                    <li><a href="#section-4">MongoDB配置</a></li>
                </ul>
            </div>
        </aside>
        <section class="main_right">
            <div class="nav_text">
                <h2 id="section-1">简介</h2>
                <p>111</p>
                <hr>
                <h2 id="section-2">安装</h2>
                <p>
                    <div class="alert alert-danger">注意：目前仅提供Windows x86_64系统的执行程序，需要适配其他系统请自行下载源码</div>

                </p>
                <hr>
                <h2 id="section-3">JSON配置</h2>
                <p>222</p>
                <hr>
                <h2 id="section-4">MongoDB配置</h2>
                <p>333</p>
                <hr>
            </div>
        </section>
    </section>
</body>
</html>