<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cnchens.github.io/ChensBOT/bootstrap-5.2.3-dist/css/bootstrap.min.css">
    <script src="https://cnchens.github.io/ChensBOT/jquery-3.6.2/jquery-3.6.2.min.js"></script>
    <script src="https://cnchens.github.io/ChensBOT/bootstrap-5.2.3-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cnchens.github.io/ChensBOT/static/css/global.css">
    <link rel="stylesheet" href="https://cnchens.github.io/ChensBOT/static/css/start/start.css">
    <title>ChensBOT | 开始</title>
</head>
<body data-spy="scroll" data-target="#myScrollspy">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="https://cnchens.github.io/ChensBOT/" class="navbar-brand">ChensBOT</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="https://cnchens.github.io/ChensBOT/templates/start.html" class="nav-link">开始</a>
                <a href="https://cnchens.github.io/ChensBOT/templates/advanced.html" class="nav-link">进阶</a>
                <a href="https://cnchens.github.io/ChensBOT/templates/database.html" class="nav-link">数据库</a>
                <a href="https://cnchens.github.io/ChensBOT/templates/to_users.html" class="nav-link">写给使用者
                <a href="https://cnchens.github.io/ChensBOT/templates/donate.html" class="nav-link">赞助</a>
            </div>
        </div>
    </nav>
    <div class="start_title">
        <h1>开始</h1>
        <hr>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-4">
                <div class="sc_btn">
                    <a href="#" class="sc_a" id="section-1"><h3>简介</h3></a>
                    <hr>
                    <a href="#" class="sc_a" id="section-2"><h3>安装</h3></a>
                    <hr>
                    <a href="#" class="sc_a" id="section-3"><h3>JSON配置</h3></a>
                    <hr>
                    <a href="#" class="sc_a" id="section-4"><h3>MongoDB配置</h3></a>
                    <hr>
                    <a href="#" class="sc_a" id="section-5"><h3>运行</h3></a>
                </div>
            </div>
            <div class="col-8">
                <div class="sc_btn">
                    <div id="screen_text"></div>
                    <script src="https://cnchens.github.io/ChensBOT/static/js/start/start_screen.js "></script>
                    <link rel="stylesheet" href="https://cnchens.github.io/ChensBOT/static/css/start/start_screen.css">
                    <link rel="stylesheet" href="https://cnchens.github.io/ChensBOT/google-code-prettify/styles/sunburst.css">
                    <script src="https://cnchens.github.io/ChensBOT/google-code-prettify/js-modules/prettify.js"></script>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<h2>JSON配置</h2>
<hr>
<p>本小节只会介绍部分JSON配置的方法，完整版请至<a href="https://cnchens.github.io/ChensBOT/templates/advanced.html">进阶</a>查看</p>
<p>打开config.json（在根目录中），有以下几行代码需要特别注意：</p>
<pre class="prettyprint linenums">
    "mdb_conn" : "mongodb://127.0.0.1:27017/", 

    "superusers" : [114514], 
    "cmd_start" : [""], 
    "host" : "127.0.0.1", 
    "port" : "32808", 
    "api_root" : "http://127.0.0.1:32808", 
</pre>
<p>这几行的配置方法在下表中已经列出来了</p>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>键名称</th>
            <th>值类型</th>
            <th>值默认数据</th>
            <th>备注</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>mdb_conn</td>
            <td>str</td>
            <td>mongodb://127.0.0.1:27017/</td>
            <td>MongoDB连接url</td>
        </tr>
        <tr>
            <td>superusers</td>
            <td>list</td>
            <td>空</td>
            <td>超级用户</td>
        </tr>
        <tr>
            <td>cmd_start</td>
            <td>list</td>
            <td>空</td>
            <td>命令起始字符</td>
        </tr>
        <tr>
            <td>host</td>
            <td>str</td>
            <td>127.0.0.1</td>
            <td>go-cqhttp连接ip</td>
        </tr>
        <tr>
            <td>port</td>
            <td>str</td>
            <td>32808</td>
            <td>go-cqhttp连接端口</td>
        </tr>
        <tr>
            <td>api_root</td>
            <td>str</td>
            <td>http://127.0.0.1:32809</td>
            <td>nonebot_api连接url</td>
        </tr>
    </tbody>
</table>




