<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cnchens.github.io/ChensBOT/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <script src="https://cnchens.github.io/ChensBOT/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cnchens.github.io/ChensBOT/static/css/global.css">
    <title>ChensBOT</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation" id="nav_top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="https://cnchens.github.io/ChensBOT/" class="navbar-brand">ChensBOT</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="https://cnchens.github.io/ChensBOT/templates/start.html">开始</a></li>
                    <li><a href="https://cnchens.github.io/ChensBOT/templates/module_use.html">模块详解</a></li>
                    <li><a href="https://cnchens.github.io/ChensBOT/templates/database.html">数据库</a></li>
                    <li><a href="https://cnchens.github.io/ChensBOT/templates/donate.html">赞助</a></li>
                </ul>
                <p class="navbar-text navbar-right" id="version">Website v1.0.0  BOT v1.1.1</p>
            </div>
        </div>
    </nav>
    <p><button type="button" class="btn btn-lg" id="start_btn">开始</button></p>
</body>
</html>